{% extends 'base.html.twig' %}

{% block title %}Nouvelle facture{% endblock %}

{% block body %}
    <h1>Créer une nouvelle facture</h1>

    {{ component('InvoiceForm', {invoice: invoice})}}

    <a href="{{ path('app_invoice_index') }}" class="btn btn-outline-primary">retour à la liste</a>
{% endblock %}
