{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Facturation gratuite et illimitée pour les sociétés de transport < 3.5T</h1>
<h2>Envoyez toutes vos factures avec les CMR rapidement, sans prise de tête !</h2> 
<a href="" class="btn btn-primary">Ouvrir un compte</a> 
<h4>Simple, rapide et sans frais cachés</h4> 
<h2>Des documents fiables et protégés</h2> 
<ul> 
<li>
<h4>Facilité d'utilisation</h4> 
Notre solution de facturation en ligne est l'une des plus intuitives, accessible à tous. Créez vos clients, ajoutez vos  services en quelques clics, puis générez et envoyez vos factures sans effort. 
</li> 
<li>
<h4>Respect des normes</h4> 
Créez et envoyez vos factures sous forme dématérialisée en toute simplicité, tout en allégeant votre gestion administrative. 
</li> 
<li>
<h4>Protection de vos données</h4> 
Tous vos documents sont protégés sur notre plateforme sécurisée, accessible à tout moment. 
</li> 
<li>
<h4>Protection de la vie privée</h4> 
Nous garantissons que vos données restent confidentielles et ne seront jamais revendues, afin d’assurer la sécurité de vos informations professionnelles.
 </li> 
 <li> 
 <h4>Pas de publicité intrusive</h4> 
 Nous nous concentrons sur ce qui est important pour vous : la gestion de votre facturation, sans être dérangé par des publicités.
 </li> 
 </ul> 
 
 <h4>Questions fréquentes</h4> 
 
 <h3>Pourquoi notre solution est-elle gratuite ?</h3> 
 <p>Notre plateforme a été conçue par des entrepreneurs pour des entrepreneurs. Nous pensons que la gestion des tâches administratives et de facturation ne doit pas être un obstacle à la création et au développement d'une entreprise, c'est pourquoi notre outil est entièrement gratuit.</p> 
 
 <h3>Les outils de facturation gratuits sont-ils de qualité ?</h3> 
 <p>Notre logiciel de facturation gratuit offre une expérience complète, comparable à celle de nombreux outils payants. Il respecte toutes les exigences légales et couvre tous les besoins des entreprises, avec des fonctionnalités avancées, telles que l'envoi de facture directement à votre client que vous venez de créer.</p> 
 
 <h3>Est-ce que cet outil est adapté à la taille de mon entreprise ?</h3> 
 <p>Notre plateforme est idéale pour les petites entreprises, les PME et les travailleurs indépendants. Quel que soit le type ou la taille de votre entreprise, notre solution gratuite est un atout précieux pour la gestion de votre facturation.</p>
{% endblock %}
