* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    a {
        text-decoration: none;
        cursor: pointer;
    }
    ul {
        list-style-type: none;
    }
}

#invoice_form_invoiceLines {
    fieldset {
        background-color: red;
        width: fit-content;
    }
}